<app-navigation-bar></app-navigation-bar>
<div class="container mt-3 mb-3">
  <ng-container *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" [dismissible]="alert.dismissible" (close)="onClosed(alert)">
      {{ alert.msg }}
    </ngb-alert>
  </ng-container>
  <form [formGroup]="registrationForm" (submit)="register()">
    <div class="btn-group btn-group-toggle btn-block mb-3" ngbRadioGroup
         formControlName="userTypeField" name="radioBasic">
      <label ngbButtonLabel class="btn-outline-dark" (click)="toggleUserType('Customer')">
        <fa-icon [icon]="userIcon"></fa-icon>
        <input ngbButton type="radio" value="Customer"> {{'client' | translate}}
      </label>
      <label ngbButtonLabel class="btn-outline-dark" (click)="toggleUserType('Professional')">
        <fa-icon [icon]="professionalIcon"></fa-icon>
        <input ngbButton type="radio" value="Professional"> {{'professional' | translate}}
      </label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="regLastName">{{'last_name' | translate}}</label>
        <input type="text" class="form-control" id="regLastName" formControlName="regLastNameField">
      </div>
      <div class="form-group col-md-6">
        <label for="regFirstName">{{'last_name' | translate}}</label>
        <input type="text" class="form-control" id="regFirstName" formControlName="regFirstNameField">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="regPhone">{{'phone' | translate}}</label>
        <input type="email" class="form-control" id="regPhone" formControlName="regPhoneField">
      </div>
      <div class="form-group col-md-4">
        <label for="regEmail">{{'email' | translate}}</label>
        <input type="email" class="form-control" id="regEmail" formControlName="regEmailField">
      </div>
      <div class="form-group col-md-4">
        <label for="regPassword">{{'password' | translate}}</label>
        <input type="password" class="form-control" id="regPassword" formControlName="regPasswordField">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="regStreet">{{'street' | translate}}</label>
        <input type="text" class="form-control" id="regStreet" formControlName="regStreetField">
      </div>
      <div class="form-group col-md-4">
        <label for="regPlotNumber">{{'number' | translate}}</label>
        <input type="text" class="form-control" id="regPlotNumber" formControlName="regPlotNumberField">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="regCity">{{'city' | translate}}</label>
        <input type="text" class="form-control" id="regCity" formControlName="regCityField">
      </div>
      <div class="form-group col-md-4">
        <label for="regPostalCode">{{'zipcode' | translate}}</label>
        <input type="text" class="form-control" id="regPostalCode" formControlName="regPostalCodeField">
      </div>
    </div>
    <div class="card" *ngIf="userType === 'Professional'">
      <div class="card-header">
        <p class="font-weight-bold mb-0">Les services proposés</p>
      </div>
      <div class="card-body">
        <ng-container *ngFor="let proposedService of proposedServices.controls; let i=index">
          <div class="form-row" [formGroup]="$any(proposedService)">
            <div class="form-group col-md-8">
              <label for="regService{{i}}">Service</label>
              <select class="form-control" id="regService{{i}}" formControlName="regService">
                <option *ngFor="let service of services" [ngValue]="service" [disabled]="isSelected(service)">{{service.title}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="regPriceService{{i}}">Prix</label>
              <div class="input-group">
                <input type="number" class="form-control" placeholder="1.00"
                       id="regPriceService{{i}}" aria-describedby="hourlyRate" formControlName="regHourlyRate">
                <div class="input-group-append">
                  <span class="input-group-text" id="hourlyRate"><fa-icon [icon]="euroIcon"></fa-icon> /Heure</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-1">
              <label for="addService{{i}}">&nbsp;</label>
              <button type="button" class="btn btn-block btn-danger" id="addService{{i}}"
                      (click)="removeProposedService(i)" [disabled]="proposedServices.length == 1">
                <fa-icon [icon]="removeIcon"></fa-icon>
              </button>
            </div>
          </div>
        </ng-container>
        <div class="form-row">
          <div class="col">
            <button type="button" class="btn btn-success btn-sm" (click)="addProposedService()" [disabled]="canAddServices()">
              <fa-icon [icon]="addIcon"></fa-icon> Add Service
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">{{'register' | translate}}</button>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
