<app-navigation-bar></app-navigation-bar>

<!-- Heading Row -->
<div class="row my-4">
  <div class="col-lg-8">
    <carousel>
      <slide>
        <img src="../../../assets/cleaner.jpg" alt="first slide" class="main-slider-img img-thumbnail rounded">
        <div class="carousel-caption d-none d-md-block">
          <h3>Professional cleaning</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img src="../../../assets/constructor.jpg" alt="second slide" class="main-slider-img img-thumbnail rounded">
        <div class="carousel-caption d-none d-md-block">
          <h3>House keeping</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
    </carousel>
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4">
    <h1>{{title}} Home Cleaners</h1>
    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a
      great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
    <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">This call to action card is a great place to showcase some important information or
      display a clever tagline!</p>
  </div>
</div>

<app-footer></app-footer>
