<app-navigation-bar></app-navigation-bar>
<div class="container">
  <ng-container *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" [dismissible]="alert.dismissible" (close)="onClosed(alert)">
      {{ alert.msg }}
    </ngb-alert>
  </ng-container>
  <h1 class="text-center text-capitalize">{{service.title}}</h1>
  <div>
    {{service.description}}
  </div>
  <div *ngIf="expertises.length > 0">
    <div class="card mb-3 text-dark bg-light">
      <div class="card-body">
        <form [formGroup]="filterForm" (ngSubmit)="findExpertises()">
          <div class="row">
            <div class="col-8">
              <div class="form-group row">
                <label for="idDateInput" class="col-2 col-form-label font-weight-bold">Date</label>
                <div class="col-10">
                  <div class="input-group input-group-sm">
                    <input class="form-control" ngbDatepicker #datePicker="ngbDatepicker"
                           formControlName="serviceDateField" id="idDateInput" [minDate]="getNgbMinSelectableDate()"
                           (click)="datePicker.toggle()" (dateSelect)="serviceDateChanged($event)">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="datePicker.toggle()"
                              type="button">
                        <fa-icon [icon]="calendarIcon"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="timeRangeInput" class="col-2 col-form-label font-weight-bold">Durée</label>
                <div class="col-10">
                  <ng5-slider formControlName="serviceHourRange"
                              [options]="options" id="timeRangeInput"></ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-between flex-column">
              <div class="btn-group btn-group-toggle btn-block btn-group-sm" ngbRadioGroup
                   formControlName="sorting" name="radioBasic">
                <label ngbButtonLabel class="btn-outline-dark">
                  <input ngbButton type="radio" value="Desc"> Prix Décroissant
                  <fa-icon [icon]="descIcon"></fa-icon>
                </label>
                <label ngbButtonLabel class="btn-outline-dark">
                  <input ngbButton type="radio" value="Asc"> Prix Croissant
                  <fa-icon [icon]="ascIcon"></fa-icon>
                </label>
              </div>
              <button class="btn btn-sm btn-block btn-danger" type="submit">
                <fa-icon [icon]="searchIcon"></fa-icon>
                Chercher
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <h2 class="text-center">Nos prestataires disponibles</h2>
    <div class="row">
      <div class="col-6 mb-3" *ngFor="let expertise of expertises">
        <div class="media border p-2">
          <img *ngIf="expertise.professional.user.picture === ''" src="assets/unknown.png" alt=""
               class="card-img-top rounded-circle" style="height: 100px; width: auto">
          <img *ngIf="expertise.professional.user.picture" src="{{expertise.professional.user.picture}}" alt=""
               class="card-img-top rounded-circle thumb-post">
          <div class="media-body row">
            <div class="col-8">
              <div class="pl-3">
                <h2>{{expertise.professional.user.lastName}}, {{expertise.professional.user.firstName}}</h2>
                <p class="mb-0">{{expertise.professional.user.address.streetName.trim()}}
                  , {{expertise.professional.user.address.plotNumber}}<br>
                  {{expertise.professional.user.address.postalCode}} {{expertise.professional.user.address.city}}</p>
              </div>
            </div>
            <div class="col-4 text-center d-flex flex-column justify-content-center">
              <span class="badge badge-pill badge-light mb-2" style="font-size: 0.9em">{{expertise.hourlyRate}}
                €/Heure</span>
              <button type="button" class="btn btn-outline-success btn-sm" (click)="order(content, expertise)">Commander</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="expertises.length == 0" class="alert alert-danger" role="alert">
    Désolé! Pas de professionnels disponible
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{service.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <dl class="row">
        <dt class="col-sm-4">Date de service</dt>
        <dt class="col-sm-8">{{reservation.startTime | date: 'short' }}</dt>
        <dt class="col-sm-4">De </dt>
        <dt class="col-sm-8">{{reservation.startTime | date: 'HH:mm' }} à {{reservation.endTime | date: 'HH:mm' }}</dt>
        <dt class="col-sm-4">Prix par heure</dt>
        <dt class="col-sm-8">{{reservation.expertise.hourlyRate }} €</dt>
        <dt class="col-sm-4">Prix total</dt>
        <dt class="col-sm-8">{{reservation.totalCost }} €</dt>
      </dl>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Annuler</button>
      <button type="button" class="btn btn-outline-success" (click)="sendOrder()">Confirmer votre commande</button>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>
