<app-navigation-bar></app-navigation-bar>
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12 ml-sm-auto mt-3">
      <ng-container *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" [dismissible]="alert.dismissible" (close)="onClosed(alert)">
          {{ alert.msg }}
        </ngb-alert>
      </ng-container>

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="p-4">
              <img class="card-img-top rounded-circle shadow-lg" src="{{user.picture}}" alt="Card image cap" *ngIf="user.picture">
              <img class="card-img-top rounded-circle shadow-lg" src="../../../assets/unknown.png" alt="Card image cap" *ngIf="!user.picture">
            </div>
            <div class="input-group">
              <button (click)="fileInput.click()" class="btn btn-sm btn-outline-success btn-block m-2">Changer votre photo</button>
              <input type="file" ng2FileSelect #fileInput
                     [uploader]="uploader"
                     accept="image/*"
                     [style.display]="'none'">
            </div>
            <div class="card-body p-2">
              <span class="badge badge-success" *ngFor="let roleUser of user.roles">{{roleUser.role.roleName}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card mb-3">
            <div class="card-body pt-2 pb-2">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.firstName}} {{user.lastName}}
                </div>
              </div>
              <hr class="mt-1 mb-1">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.email}}
                </div>
              </div>
              <hr class="mt-1 mb-1">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.phoneNumber}}
                </div>
              </div>
              <hr class="mt-1 mb-1">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.address.streetName}} {{user.address.plotNumber}}
                  , {{user.address.postalCode}} {{user.address.city}}
                </div>
              </div>
            </div>
          </div>

          <table class="table table-hover" *ngIf="professional">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Profession</th>
              <th scope="col">Category</th>
              <th scope="col">Hourly Rate</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expertise of professional.expertises; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ expertise.service.title }}</td>
              <td>{{ expertise.service.category }}</td>
              <td>{{ expertise.hourlyRate }} Euro</td>
              <td>
                <div class="btn-toolbar" role="toolbar">
                  <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Actions group">
                    <!--                    <button class="btn btn-outline-warning" (click)="openModal(true, template, expertise)">Edit</button>-->
                    <button class="btn btn-outline-warning" (click)="open(template)">Edit</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <nav class="navbar navbar-light bg-light" *ngIf="customer">
            <span class="display-4">Orders</span>
          </nav>
          <table class="table table-hover" *ngIf="customer">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{'expertise' | translate}}</th>
              <th scope="col">{{'service_date' | translate }}</th>
              <th scope="col">Duration</th>
              <th scope="col">Total cost</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of customer.reservations; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ order.expertise.service.title }}</td>
              <td>{{ order.startTime | date:'short' }}</td>
              <td>{{ getDuration(order) }} hours</td>
              <td>{{ order.totalCost | number: '1.2' }}
                <fa-icon [icon]="euroIcon"></fa-icon>
              </td>
              <td>Action</td>
            </tr>
            </tbody>
          </table>

          <div *ngIf="hasRole('Admin')" class="mt-3">
            <h3 class="text-center">Admin Panel</h3>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="true">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="bills-tab" data-toggle="tab" href="#bills" role="tab" aria-controls="bills" aria-selected="false">Factures</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="reservations-tab" data-toggle="tab" href="#reservations" role="tab" aria-controls="reservations" aria-selected="false">Reservations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Utilisateurs</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="services" role="tabpanel" aria-labelledby="services-tab">
                <button class="btn btn-sm btn-success mt-3 mb-1"><fa-icon [icon]="addIcon"></fa-icon> Add service</button>
                <table class="table table-hover">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let service of services; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ service.title }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.category }}</td>
                    <td>
                      <button class="btn btn-outline-success btn-sm mr-2" (click)="editService(serviceTemplate, service)">Edit</button>
                      <button class="btn btn-outline-danger btn-sm mr-2" (click)="deleteService(serviceTemplate, service)">Delete</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="bills" role="tabpanel" aria-labelledby="bills-tab">bills here...</div>
              <div class="tab-pane fade" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">reservations here ...</div>
              <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">utilisateurs here ...</div>
            </div>

          </div>
        </div>
      </div>
    </main>

    <ng-template #template let-modal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Expertise</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expertiseForm" (ngSubmit)="onSaveExpertise()">
          <div class="form-group row">
            <label for="professionTitle" class="col-form-label col-sm-3">Profession</label>
            <div class="input-group col-sm-9">
              <select class="custom-select" id="professionTitle" formControlName="professionId" readonly>
                <option *ngFor="let profession of services" [value]="profession.id">{{profession.title}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="expertiseRate" class="col-form-label col-sm-3">Rate</label>
            <div class="input-group col-sm-9">
              <input type="text" class="form-control" id="expertiseRate" formControlName="rate">
              <div class="input-group-append">
                <span class="input-group-text">€</span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!expertiseForm.valid">Save</button>
        </form>
      </div>
    </ng-template>

    <ng-template #serviceTemplate let-serviceModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Service</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="serviceModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="serviceForm" (ngSubmit)="onSaveService()">
          <div class="form-group">
            <label for="titleField">Title</label>
            <input type="text" class="form-control" id="titleField" formControlName="titleField">
          </div>
          <div class="form-group">
            <label for="descriptionField">Description</label>
            <input type="text" class="form-control" id="descriptionField" formControlName="descriptionField">
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
<app-footer></app-footer>
